.counterBook {
  width: 100%;
  min-height: 40px;
  background-color: #f7f4ea;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px 0;
}

@media only screen and (max-width: 850px) {
  .counterBook {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.bookingBox {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
}
