.funcBttn {
  min-width: 68px;
  width: 15%;
  height: 50px;
  margin: 10px;
  border: solid 1px black;
}

.funcBttn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.roomList {
  width: 100vw;
  padding: 30px 50px;
  flex-wrap: wrap;
}

.room {
  width: 250px;
  height: 150px;
  border: solid 1px black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  flex-wrap: wrap;
  text-align: center;
}

.room:hover {
  cursor: pointer;
}

.ready {
  background-color: #548c2f;
}

.checkin {
  background-color: #8a817c;
}

.checkout {
  background-color: #0466c8;
}

.cleaning {
  background-color: #fdc500;
}

.statusImg {
  width: 90px;
  height: 90px;
  overflow: hidden;
  border: solid 2px black;
  border-radius: 50px;
}

.image {
  width: 100px;
}
