.footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  background-color: white;
  border-top: solid 1px rgba(199, 199, 199, 0.342);
  z-index: 1;
}

.footItem {
  padding: 0 20px;
}
